*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
}

html {
  font-size: 13px;
}

.main {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100vh;
  min-height: 600px;
  background: url(../img/bg-img.jpg) no-repeat center;
  background-size: cover;
}

.main-overlay, .get-started-block-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .8;
  z-index: 0;
  background-image: linear-gradient(150deg, rgb(136, 211, 206) 0%, rgb(110, 69, 226) 100%);
  background-image: -moz-linear-gradient(150deg, rgb(136, 211, 206) 0%, rgb(110, 69, 226) 100%);
  background-image: -webkit-linear-gradient(150deg, rgb(136, 211, 206) 0%, rgb(110, 69, 226) 100%);
  background-image: -ms-linear-gradient(150deg, rgb(136, 211, 206) 0%, rgb(110, 69, 226) 100%);    
}

.header {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  position: relative;
  z-index: 2;
}

.menu {
  width: 70%;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 14px;
}

.menu ul li a:hover {
  color: #c2c9db;
}

.menu-link {
  color: #fff;
  text-decoration: none;
}

.get-started-btn {
  margin-left: 6rem;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 100px;
  text-transform: uppercase;
}

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  text-align: center;
}

.main-text span {
  display: inline-block;
}

.main-text h1 {
  margin: 0.5rem;
  font-size: 60px;
}

.main-text span::after {
  content: '';
  width: 20px;
  height: 1px;
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.main-text span::before {
  content: '';
  width: 20px;
  height: 1px;
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.arrow {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.table-block {
  background-color: #f9fafc;
  padding: 10rem;
}

.table-header {
  text-align: center;
  margin-bottom: 5rem;
}

.table-header span {
  text-transform: uppercase;
  font-size: 2rem;
  color: #9fa4af;
}

.table-header span::after {
  content: '';
  width: 20px;
  height: 1px;
  background-color: #6e45e2;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.table-header span::before {
  content: '';
  width: 20px;
  height: 1px;
  background-color: #6e45e2;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.table-header p {
  font-size: 1.8rem;
  display: inline-block;
  width: 40rem;
  line-height: 1.4;
  color: #9fa4af;
}

.table-header h2 {
  color: #4f4f6f;
  font-size: 6rem;
  margin: 0;
}

.project-tags {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project-tag {
  background-color: #fff;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  text-align: center;
  width: 35rem;
  transition: 0.2s;
}

.project-tag:hover {
  box-shadow: 0px 0px 50px 10px rgba(204, 204, 223, 0.71);
  cursor: pointer;    
}

.project-tag span {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 3rem auto 1rem;
}

.project-tag p {
  color: #9fa4af;
}

.project-btn {
  background-color: #fff;
  border: #9fa4af 1px solid;
  color: #9fa4af;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem 4rem;
  margin: 2rem auto;
  border-radius: 100px;
  transition: 0.2s;
}

.project-btn:hover {
  background-color: #6e45e2;
  cursor: pointer;
  color: #fff;
}

.get-started-block {
  text-align: center;
  position: relative;
  padding: 15rem;
  color: #fff; 
}

.get-started-block span {
  width: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
}

.get-started-block h4 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 4.5rem;
  margin: 1rem auto 2rem;
}

.get-started-block-btn {
  border-radius: 100px;
  display: inline-block;
  background-color: #fff;
  color: #c2c9db;
  border: none;
  width: 16rem;
  height: 4rem;
  padding: 1rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 1rem;
  transition: 0.2s;
  cursor: pointer;
}

.get-started-block-btn:hover {
  background-color: #6e45e2;
  color: #fff;
}

.get-started-wrap {
  z-index: 2;
  position: relative;
}

.footer-wrap {
  display: flex;
  justify-content: center;
}

.footer-block {
  width: 90%;
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
}

.footer-menu {
  width: 50%;    
}

.footer-block ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.footer-block ul li a:hover {
  color: #6e45e2;
  background-color: #fff;
}

.footer-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: #6a6a77;
  font-weight: 500;
}

.footer-get-started {
  margin-left: 6rem;
  border: 1px solid #6e45e2;
  padding: 10px 20px;
  border-radius: 100px;
  text-transform: uppercase;
  color: #fff;
  background-color: #6e45e2;    
}

.line {
  display: block;
  width: 90%;
  height: 1px;
  background-color: #333;
  margin: 1rem auto;
}

.legal {
  padding-left: 5%; 
  padding-right: 5%;     
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy {
  font-size: 1rem;
  color: #6a6a77;
}

.social a{
  display: inline-block;
  color: #6a6a77;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.social a:hover {
  color: #6e45e2;
}

.m-menu-link {
  color: #fff;
  font-size: 5rem;
  display: none;
}

.m-menu {
  background-color: #6e45e2;
  padding: 0;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: 3rem;
  line-height: 3;
  z-index: 9999;
  transition: 0.2s;   
  transform: translateX(-100%);
}

.m-menu li a:hover{
  color: #c2c9db;
}

.m-menu-active {
  transform: translateX(0%);
}

.close-menu {
  position: fixed;
  right: 5rem;
  top: 0;
  font-size: 5rem;
  margin: 0;
  font-weight: 900;
  color: #fff;
}

.close-menu:hover {
  cursor: pointer;
}


